{% extends 'layouts/page.njk' %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set backLink = "/" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if errorList %}{{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}{% endif %}

    <form method="post" action="/email-address" novalidate>

      {{ govukInput({
        label: {
          text: "What is your email address?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "We will send a code to this email address to check it belongs to you."
        },
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        classes: "govuk-!-width-two-thirds",
        value: values.email,
        errorMessage: errors["email"] if errors["email"]
      }) }}

      {{ govukButton({
        text: "Continue",
        type: "submit"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
