{% extends 'layouts/page.njk' %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set backLink = "/address-activity" %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    {% if errorList %}{{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}{% endif %}

    <form method="post" action="/quantity" novalidate>

      {% set amountHtml %}
      {{ govukInput({
          label: {
            text: "Estimated annual quantity"
          },
          suffix: {
            text: "Litres or kilograms"
          },
          classes: "govuk-input--width-10",
          id: "quantity-amount",
          name: "quantity-amount",
          value: values["quantity-amount"] if values,
          errorMessage: errors["quantity-amount"] if errors["quantity-amount"],
          spellcheck: false,
          inputmode: "decimal"
        }) }}
      {% endset %}

      {% set areaHtml %}
      {{ govukInput({
          label: {
            text: "Estimated annual area covered"
          },
          suffix: {
            text: "Hectares"
          },
          classes: "govuk-input--width-10",
          id: "quantity-area",
          name: "quantity-area",
          value: values["quantity-area"] if values,
          errorMessage: errors["quantity-area"] if errors["quantity-area"],
          spellcheck: false,
          inputmode: "decimal"
        }) }}
      {% endset %}

      {{ govukRadios({
        name: "quantity-type",
        fieldset: {
          legend: {
            text: "What quantity of plant protection products (PPPs) or adjuvants do you use at this address in a typical year?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Give an estimate of the total amount of undiluted product you use. You can enter this as the amount in litres or kilograms, or by the area covered."
        },
        errorMessage: errors["quantity-type"] if errors["quantity-type"],
        items: [
          {
            value: "amount",
            text: "Amount in litres or kilograms",
            checked: values["quantity-type"] == "amount" if values,
            conditional: {
              html: amountHtml
            }
          },
          {
            value: "area",
            text: "Area covered in hectares",
            suffix: {
              text: "Hectares"
            },
            checked: values["quantity-type"] == "area" if values,
            conditional: {
              html: areaHtml
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        type: "submit"
      }) }}

    </form>
  </div>
</div>
{% endblock %}