{% extends 'layouts/page.njk' %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set backLink = "/business-name" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if errorList %}{{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}{% endif %}

    <h1 class="govuk-heading-l">Main business address</h1>

    <p class="govuk-body">Enter the address that is most relevant to your professional PPP activity. This might be a head office, or where you keep your records. You can add other addresses later if you have them</p>

    <form method="post" action="/business-address" novalidate>

      {% call govukFieldset({
      }) %}

      {{ govukInput({
          label: {
            text: 'Address line 1'
          },
          id: "addressLine1",
          name: "addressLine1",
          errorMessage: errors["addressLine1"] if errors["addressLine1"],
          autocomplete: "address-line1",
          classes: "govuk-!-width-two-thirds"
        }) }}

      {{ govukInput({
          label: {
            text: 'Address line 2 (optional)'
          },
          id: "addressLine2",
          name: "addressLine2",
          autocomplete: "address-line2",
          classes: "govuk-!-width-two-thirds"
        }) }}

      {{ govukInput({
          label: {
            text: "Town or city"
          },
          id: "addressTown",
          name: "addressTown",
          errorMessage: errors["addressTown"] if errors["addressTown"],
          autocomplete: "address-level2",
          classes: "govuk-!-width-one-third"
        }) }}

      {{ govukInput({
          label: {
            text: "County (optional)"
          },
          id: "addressCounty",
          name: "addressCounty",
          autocomplete: "address-level1",
          classes: "govuk-!-width-one-third"
        }) }}

      {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          id: "addressPostcode",
          name: "addressPostcode",
          errorMessage: errors["addressPostcode"] if errors["addressPostcode"],
          autocomplete: "postal-code"
        }) }}

      {% endcall %}

      {{ govukButton({
        text: "Continue",
        type: "submit"
      }) }}

    </form>

    {% endblock %}